.image-gallery {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.gallery-item {
  position: relative;
  width: 25rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1), 0 0 0 1px rgba(0, 0, 0, .5);
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  flex-grow: 1;
  &:hover {
    filter: contrast(1.2);
    transition: .2s filter linear;
  }
}
