<ng-container *ngIf="galleryImages?.length > 0">
  <div class="image-gallery">
    <ng-container *ngFor="let image of galleryImages">
      <img class="gallery-item" [src]="image.acf.image" [alt]="image.title" width="700">
    </ng-container>
  </div>
</ng-container>
