<mat-card class="m-3">
  <mat-card-header>
    <div class="text-center w-100">
      <h1>Welcome to Gameview</h1>
      <h4>Choose a game or console from the menu on the left</h4>
    </div>
  </mat-card-header>
</mat-card>
