$primary: rgb(255, 95, 15) !default;
$accent: rgb(62, 86, 135) !default;
$success: rgb(10, 173, 2) !default;
$info: rgb(3, 146, 168) !default;
$warning: rgb(214, 182, 0) !default;
$danger: rgb(173, 32, 3) !default;
$light: rgb(235, 235, 235) !default;
$dark: rgb(46, 46, 46) !default;
$gray-900: #212529 !default;
$gray-600: #6c757d !default;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);

$link-color: $primary !default;
$link-decoration: none !default;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: underline !default;

$spacer: 1rem !default;
$text-muted: $gray-600 !default;

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 1rem !default;

$font-weight-lighter: lighter !default;
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-bolder: bolder !default;

$dt-font-weight: $font-weight-bold !default;

$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

$h1-font-size: $font-size-base * 2.5 !default;
$h2-font-size: $font-size-base * 2 !default;
$h3-font-size: $font-size-base * 1.75 !default;
$h4-font-size: $font-size-base * 1.5 !default;
$h5-font-size: $font-size-base * 1.25 !default;
$h6-font-size: $font-size-base !default;

$headings-margin-bottom: $spacer / 2 !default;
$paragraph-margin-bottom: 1rem !default;

$body-bg: $white !default;
$body-color: $gray-900 !default;

$table-cell-padding: .75rem !default;
$table-caption-color: $text-muted !default;

$label-margin-bottom: .5rem !default;
$enable-pointer-cursor-for-buttons: true !default;
